<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Employee</display-name>

  
<servlet>  
<servlet-name>Employee</servlet-name>  
<servlet-class>com.Employee</servlet-class>  

</servlet>  

<servlet>  
<servlet-name>Welcome</servlet-name>  
<servlet-class>com.Welcome</servlet-class>  
</servlet>

<servlet>  
<servlet-name>Servletcon</servlet-name>  
<servlet-class>com.Servletcon</servlet-class> 

 
<init-param>
<param-name>name</param-name>
<param-value>Ramya</param-value>
</init-param>


</servlet>

<servlet-mapping>  
<servlet-name>Servletcon</servlet-name>  
<url-pattern>/ServletconPath</url-pattern>  
</servlet-mapping>

<servlet-mapping>  
<servlet-name>Employee</servlet-name>  
<url-pattern>/EmployeePath</url-pattern>  
</servlet-mapping>

<servlet-mapping>  
<servlet-name>Welcome</servlet-name>  
<url-pattern>/WelcomePath</url-pattern>  
</servlet-mapping>


<servlet>

<servlet-name>Servletcontxt1</servlet-name>
<servlet-class>com.Servletcontxt</servlet-class>

</servlet>

<servlet>

<servlet-name>Servletcontxt2</servlet-name>
<servlet-class>com.Servletcontxt2</servlet-class>

</servlet>


<servlet-mapping>
<servlet-name>Servletcontxt1</servlet-name>
<url-pattern>/Servletcontxt1</url-pattern>
</servlet-mapping>

 
<servlet-mapping>
<servlet-name>Servletcontxt2</servlet-name>
<url-pattern>/Servletcontxt2</url-pattern>
</servlet-mapping>

<welcome-file-list>
<welcome-file>login.html</welcome-file>
<welcome-file>Search.html</welcome-file>
</welcome-file-list>
</web-app>